/* TABLE OF CONTENTS

1. global/general styles

2. typography

3. layout

4. components

*/


/* =====================
   global/general styles
   ===================== */

body {
    background-image: url(/img/floor-tile.png);
    font-family: "Open Sans", sans-serif;
}

/* =====================
   typography
   ===================== */

h1, h2, h3 {
    font-family: "Fredoka One", cursive;
    margin: 1rem;
}

h5 {
    color: #ffffff;
    margin-top: 1rem;
    text-decoration: underline
}

a {
    color: #22910c
}

/* =====================
   layout
   ===================== */

header h2 {
    color: #CEC8FF;
}

hr {
    border-top: 2px ridge
}

table {
    text-align: center;
}

.site-footer {
    background-image: linear-gradient(#bbb012ce, #910c0c);
    padding: 2rem;
}

/* =====================
   components
   ===================== */

.jumbotron {
    background-image: linear-gradient(to left, #bbb012ce, #910c0c);
    color: white;
    margin: 0;
    padding: 2rem
}

.navbar {
    background-color: #131212;
    padding: 0.6em
}

#signupButton {
    padding: 0.6em
}

.breadcrumb {
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 0
}

.carousel {
    border: solid #000000;
}

.carousel-content {
    border-bottom: 2px ridge;
    padding: 3rem
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-header {
    background-image: linear-gradient(#bbb012ce, #910c0c);
}